body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-stack;
    margin: 0;
    background: url('/static/img/pattern-black-5.png') #f3f3f3;
    background-size: 100px;
}
