body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-stack;
    margin: 0;
    background: url('/static/img/pattern-black-5.png') #f3f3f3;
    background-size: 100px;
}

// Notifications overrides
// .el-message {
//     background: transparent;
//     width: 100%;
//     border: 0;
//     height: 60px;
//     color: $color-white;
//     overflow: hidden;
//     top: 0 !important;
//     padding: 0 !important;
//     border-radius: 0 !important;
//
//     .el-message__icon,
//     .el-message__content {
//         z-index: 1;
//     }
//
//     &.el-message--error {
//         background: $color-danger;
//         opacity: 0.9;
//
//         .el-message__icon,
//         .el-message__content {
//             color: $color-white !important;
//         }
//     }
//
//     &.el-message--success {
//         &:before {
//             content: '';
//             position: absolute;
//             width: 120%;
//             left: -10%;
//             height: 60px;
//             background: linear-gradient(to right,  rgba(23, 165, 255, .7) 0%, rgba(255, 55, 169, .7) 100%);
//             filter: blur(10px);
//         }
//
//         .el-message__icon,
//         .el-message__content {
//             color: $color-white !important;
//         }
//     }
//
// }