pre[class*="language-"] {
	margin: 100px;
	padding: $gp * 2;
    font-size: 11px;
	margin: 0;
	overflow: auto;
	border-radius: 0;
    // width: 100%;
    height: calc(100vh - 100px);

	@media($xs) {
		padding: $gp;
	}
}

// pre[class*="language-"] {
// 	padding: $gp * 2;
// 	font-size: 11px;
// 	margin: 0;
// 	overflow: auto;
// 	border-radius: 0;
// 	width: 100%;
// 	min-height: calc(100vh - 360px);
//
// 	@media($xs) {
// 		padding: $gp;
// 	}
// }



.package-list {
	margin: 0;
	padding: 0;
	height: calc(100vh -60px);
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;

	@media($xs) {
		column-count: 1;
		// height: calc(100vh -30px);
	}
	@media($sm) {
		column-count: 2;
	}
	.el-button {
		width: 100%;
		text-align: left;
		padding-left: $gp;
		// padding: 0 $gp;
		&+.el-button {
			margin: 0;
		}
	}
}

.package-toolbar {

	position: fixed;
	padding: $gp $gp / 2;
	background: $color-white;
	top: 0;
	right: 0;
	border-bottom: 1px solid $color-base-border;
	border-left: 1px solid $color-base-border;

	@media($xs) {
		background: transparent;
		position: static;
		padding: 0;
		top: auto;
		border: none;
		display: flex;

		.gh-button-container {
			margin: 0 $gp 0 0;
		}
	}

}

.user-packages {
	position: relative;
	font-size: 12px;
	background: rgba(255, 255, 255, 0.2);
	overflow: auto;
	// background: #cf0;
	padding: $gp * 2;
	height: calc(100vh - 100px);
	@media($xs) {
		height: calc(100vh - 80px);
		padding: $gp;
	}
	img {
		max-width: 100%;
	}
	pre {
		padding: $gp;
	}

	pre {
		color: #c5c8c6;
		text-shadow: 0 1px rgba(0, 0, 0, 0.3);
		font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
		overflow: auto;
		border-radius: 0.3em;
		background: #1d1f21;
		border-radius: .3em;
	}
}